################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/Application/bin/debug
/App/Application/obj/Debug
/Lib/.vs/NativeLibs/v15
/Lib/Big3.Hitbase.CDCover/bin/Debug
/Lib/Big3.Hitbase.CDCover/obj/Debug
/Lib/Big3.Hitbase.SharedResources/bin/Debug
/Lib/Big3.Hitbase.SharedResources/obj/Debug
/Lib/CatalogView3D/bin/Debug
/Lib/CatalogView3D/obj/Debug
/Lib/CDSearch/Debug
/Lib/CDUtilities/bin/Debug
/Lib/CDUtilities/obj/Debug
/Lib/Community/bin/Debug
/Lib/Community/obj/Debug
/Lib/Configuration/bin/Debug
/Lib/Configuration/obj/Debug
/Lib/Controls/bin/Debug
/Lib/Controls/obj/Debug
/Lib/DataBaseEngine/bin/Debug
/Lib/DataBaseEngine/obj/Debug
/Lib/GridCtrl/Debug
/Lib/hitmisc/Debug
/Lib/MainControls/bin/Debug
/Lib/MainControls/obj/Debug
/Lib/MediaRipper/bin/Debug
/Lib/MediaRipper/obj/Debug
/Lib/Misc/bin/Debug
/Lib/Misc/obj/Debug
/Lib/NativeGUI/Debug
/Lib/RecordMedium/bin/Debug
/Lib/RecordMedium/obj/Debug
/Lib/RemoteControlHost/bin/Debug
/Lib/RemoteControlHost/obj/Debug
/Lib/RemoteControlService/bin/Debug
/Lib/RemoteControlService/obj/Debug
/Lib/SkinEngine/Debug
/Lib/SoundEngineGUI/bin/Debug
/Lib/SoundEngineGUI/obj/Debug
/Lib/SoundEngineNET/bin/Debug
/Lib/SoundEngineNET/obj/Debug
/Lib/SoundFilesManagement/bin/Debug
/Lib/SoundFilesManagement/obj/Debug
/Lib/XPTable/bin/Debug
/Lib/XPTable/obj/Debug
/Setup/PostSetup/bin/Debug
/Setup/PostSetup/obj/x86/Debug
/UpgradeLog.htm
/.vs/Hitbase/v15
