<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.jus2007ConnectionString" connectionString="Data Source=|DataDirectory|\jus2007.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.jus2007ConnectionString1" connectionString="Data Source=|DataDirectory|\DataBaseEngineTester\bin\Debug\jus2007.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.leerConnectionString" connectionString="Data Source=|DataDirectory|\DataBaseEngineTester\bin\Debug\leer.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.jus2007_emptyConnectionString" connectionString="Data Source=|DataDirectory|\DataBaseEngineTester\jus2007_empty.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.templateConnectionString" connectionString="Data Source=|DataDirectory|\DataBaseEngineTester\template.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.templateConnectionString1" connectionString="Data Source=C:\Source\Hitbase 2009\App\Hitbase\Debug\template.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.templateConvertConnectionString" connectionString="Data Source=C:\Source\Hitbase 2009\App\Hitbase\Debug\templateConvert.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.jus2009ConnectionString" connectionString="Data Source=C:\Source\Hitbase 2009\App\Hitbase\jus2009.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.templateConnectionString2" connectionString="Data Source=C:\Source\Hitbase 2009\App\Hitbase\template.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.templateConnectionString3" connectionString="Data Source=C:\Source\Hitbase 2010\App\Hitbase\template.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.jus2009ConnectionString1" connectionString="Data Source=C:\Source\Hitbase 2012\App\Application\jus2009.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Big3.Hitbase.DataBaseEngine.Properties.Settings.templateConnectionString4" connectionString="Data Source=C:\Source\Hitbase 2012\App\Application\template.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
