<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Big3.Hitbase.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Big3.Hitbase.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Big3.Hitbase.Configuration.Properties.Settings>
            <setting name="ShowGridLines" serializeAs="String">
                <value>True</value>
            </setting>
        </Big3.Hitbase.Configuration.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Big3.Hitbase.Configuration.Properties.Settings>
            <setting name="Configuration_net_live_search_api_LiveSearchService" serializeAs="String">
                <value>http://api.search.live.net:80/soap.asmx</value>
            </setting>
        </Big3.Hitbase.Configuration.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
